$BorderGrey : LightGrey;

div.moduleForm{
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid $BorderGrey;
    display: flex;
    flex-direction: column;
    gap: 20p;x

    div.FormTray{
        width:100%;

        label,
        input,
        select{
            display: block;
            width: 100%;
        }

    }

}